body{
    font-family: sans-serif;
    margin: 0;

}
header{
    background-color:  #FFC6EC  ;
    text-align: center;
    padding:10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
main{
   background-color:#ff007f;
    padding: 10px;
    height: 100vh;
}
p{
    text-align: center;
    font-size: larger;
}
.james{
    background-color: #FF98DB ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.mark{
    background-color: #FF58C0  ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.nino{
    background-color:  #FF27A5 ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px
    
}
footer{
    background-color: #DF0063 ;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: larger;
}
